<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AccountMapper">

    <resultMap id="accountMap" type="com.example.demo.entity.Account">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="insertAccount">
        insert into `account`(`account`,password)
        values (#{account},#{password})
    </insert>

    <delete id="delAccount">
        delete FROM account where id = #{id}
    </delete>

    <update id="updateAccount">
        UPDATE account
        <set>
            <if test="account !=null and account != ''">
                account = #{account}
            </if>

            <if test="password !=null and password != ''">
                password = #{password}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getAccount" resultType="java.lang.Integer">
        select count(*) from account where account=#{account} and password=#{password}
    </select>

    <!--  查询此系统所有工作人员  -->
    <select id="getNumber"  resultMap="accountMap">
        select account from account;
    </select>

</mapper>