<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SellMapper">

    <resultMap id="sellMap" type="com.example.demo.entity.Sell">
        <id property="id" column="id"/>
        <result property="commodityName" column="commodity_name"/>
        <result property="amount" column="amount"/>
        <result property="sellPrice" column="sell_price"/>
        <result property="buyer" column="buyer"/>
    </resultMap>

    <insert id="insertSell">
        insert into `sell`(`commodity_name`,amount,sell_price,buyer)
        values (#{commodityName},#{amount},#{sellPrice},#{buyer})
    </insert>

    <delete id="delSell">
        delete FROM sell where id = #{id}
    </delete>

    <update id="updateSell">
        UPDATE sell
        <set>
            <if test="commodityName !=null and commodityName != ''">
                commodity_name = #{commodityName}
            </if>,

            <if test="amount !=null and amount != ''">
                amount = #{amount}
            </if>,

            <if test="sellPrice !=null and sellPrice != ''">
                sell_price = #{sellPrice}
            </if>,

            <if test="buyer !=null and buyer != ''">
                buyer = #{buyer}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getSell" resultMap="sellMap">
        select id,commodity_name,amount,sell_price,buyer from sell;
    </select>

    <select id="getSellById" resultMap="sellMap">
        select * from sell where id = #{id}
    </select>
</mapper>